@import url(http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,600,700,300,800);


/*************************
*******Typography******
**************************/

body {
  margin: 100px auto;
  text-align: center;
  width: 400px;
}

h1{
  margin-bottom: 30px;
}

strong, img {
	display: block;
}

img {
	margin: 0 auto;
	borden-radius: 10px;
}

#logout {
	margin-top: 10px;
}

.btn-primary {
  padding: 8px 20px;
  background: #c52d2f;
  color: #fff;
  border-radius: 4px;
  border:none;
  margin-top: 10px;
}


.btn-primary:hover, 
.btn-primary:focus{
  background: #c52d2f;
  outline: none;
  box-shadow: none;
}